@media screen and (min-width: 560px) {
    .d-sm-flex { display: flex !important; }
    .d-sm-grid { display: grid; }
    .flex-sm-row { flex-direction: row; }
    .align-sm-start { align-items: flex-start; }
    .justify-sm-between { justify-content: space-between; }
    .justify-sm-center { justify-content: center; }
    .d-sm-block { display: block !important; }
    .d-sm-none { display: none !important; }

    .text-sm-center { text-align: center; }
    .text-sm-right { text-align: right; }
    .text-sm-left { text-align: left; }
}
@media screen and (min-width: 768px) {
    .d-md-flex { display: flex !important; }
    .d-md-grid { display: grid; }
    .flex-md-row { flex-direction: row; }
    .align-md-start { align-items: flex-start; }
    .justify-md-between { justify-content: space-between; }
    .justify-md-center { justify-content: center; }
    .d-md-block { display: block !important; }
    .d-md-none { display: none !important; }

    .text-md-center { text-align: center; }
    .text-md-right { text-align: right; }
    .text-md-left { text-align: left; }

    .max-w-md-50 { max-width: 50%; }

    .site-branding {
        max-width: 246px;
        margin: 20px 0;
    }
    .main-navigation {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .menu-toggle {
        display: none;
    }
    
}

@media screen and (min-width: 1240px) {
    .d-lg-flex { display: flex !important; }
    .d-lg-grid { display: grid; }
    .flex-lg-row { flex-direction: row; }
    .align-lg-start { align-items: flex-start; }
    .justify-lg-between { justify-content: space-between; }
    .justify-lg-center { justify-content: center; }
    .d-lg-block { display: block !important; }
    .d-lg-none { display: none !important; }

    .text-lg-center { text-align: center; }
    .text-lg-right { text-align: right; }
    .text-lg-left { text-align: left; }
}
@media screen and (max-width: 1024px) {
    .main-navigation > div > ul > li {
        margin-top: 12px;
    }
    .main-navigation ul li {
        max-width: 92px;
    }
    .main-navigation ul a {
        padding: 12px;
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    html {
        overflow-x: hidden;
    }
    header#masthead + * {
        margin-top: 62px;
    }
    body.modal-show {
        overflow-y: hidden;
        padding-right: 0;
    }
    /* general */
    /* size */
    .max-w-sm-none { max-width: none; }
    .w-sm-50 { width: 50%; }
    .w-sm-100 { width: 100%; }
    .h-sm-50-px { height: 50px !important;}
    
    .d-flex.gap-10 .w-sm-50 {
        width: calc(50% - 2.5rem);
    }


    /* text */
    h1, .fs-xxl { font-size: var(--font-size-xl); }
    h2, .fs-xl { font-size: var(--font-size-lg); }
    h3, .fs-lg { font-size: var(--font-size-ml); }
    h4, .fs-ml { font-size: var(--font-size-md); }
    h5, .fs-md { font-size: var(--font-size-sm); }
    h6, .fs-sm { font-size: var(--font-size-xs); }
    .fs-sm-xxl { font-size: var(--font-size-xxl); }
    .fs-sm-xl { font-size: var(--font-size-xl); }
    .fs-sm-lg { font-size: var(--font-size-lg); }
    .fs-sm-ml { font-size: var(--font-size-ml); }
    .fs-sm-md { font-size: var(--font-size-md); }
    .fs-sm-sm { font-size: var(--font-size-sm); }
    .fs-sm-xs { font-size: var(--font-size-xs); }
    .fs-sm-xxs { font-size: var(--font-size-xxs); }

    /* space */
    .gap-sm-10 { gap: 2.5rem }
    .gap-sm-0 { gap: 0rem }
    .px-sm-0 { padding-left: 0; padding-right: 0; }
    .px-sm-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
    .px-sm-4 { padding-left: 1rem; padding-right: 1rem; }
    .px-sm-6 { padding-left: 1.5rem; padding-right: 1.5rem; }
    .px-sm-8 { padding-left: 2rem; padding-right: 2rem; }
    .py-sm-0 { padding-top: 0rem; padding-bottom: 0rem; }
    .py-sm-6 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
    .py-sm-8 { padding-top: 2rem; padding-bottom: 2rem; }
    .py-sm-10 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
    .py-sm-20 { padding-top: 5rem; padding-bottom: 5rem; }
    .pt-sm-0 { padding-top: 0; }
    .pt-sm-10 { padding-top: 2.5rem; }
    .pb-sm-10 { padding-bottom: 2.5rem; }
    .ps-sm-0 { padding-left: 0; }
    .mx-sm-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
    .me-sm-6 { margin-right: 1.5rem; }
    .me-sm-2 { margin-right: 0.5rem; }
    .mb-sm-2 { margin-bottom: 0.5rem; }
    .mb-sm-6 { margin-bottom: 1.5rem; }
    .mb-sm-8 { margin-bottom: 2rem; }
    .mt-sm-0 { margin-top: 0; }
    .mt-sm-6 { margin-top: 1.5rem; }
    .mt-sm-10 { margin-top: 2.5rem; }
    
    /* btn */
    .btn-circle {
        width: 48px;
        height: 48px;
        font-size: 12px;
        padding: 0;
    }
    .btn-circle span {
        transform: scale(0.65);
    }
    .fixed-right {
        right: 30px;
        bottom: 100px;
    }
    .fixed-btn {
        width: 48px;
        height: 48px;
    }
    .fixed-right .fixed-btn:last-of-type img {
        height: 16px;
    }

    /* header */
    header .container {
        padding: 0;
    }
    .site-header {
        background-color: var(--color-white);
        color: var(--color-gray);
    }
    .main-navigation {
    }
    .main-navigation ul {
    }
    .main-navigation > div > ul > li {
        margin-top: 0;
    }
    .main-navigation ul li {
        max-width: none;
    }
    .main-navigation ul li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-gray-4);
        padding: 24px;
    }
    .main-navigation ul li.menu-item-has-children > a::after {
        content: '\e905';
        transition: all 0.4s ease;
        font-size: 12px;
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .main-navigation ul li.menu-item-has-children:hover a,
    .main-navigation ul li.menu-item-has-children.focus a {
        background-color: var(--color-light);
    }
    .main-navigation ul li.menu-item-has-children:hover a::after,
    .main-navigation ul li.menu-item-has-children.focus a::after {
        transform: scaleY(-1);
    }
    .main-navigation ul ul::before {
        content: none;
    }
    .main-navigation ul ul li:first-child {
        margin-top: 0;
    }
    .main-navigation ul ul {
        position: relative;
        width: 100%;
    }
    .main-navigation ul ul a {
        padding: 24px;
    }
    .main-navigation.toggled {
        background-color: var(--color-white);
        height: 100vh; /*給 Safari 以外的瀏覽器讀取*/
        height: calc(var(--vh, 1vh) * 100);
        overflow-y: auto;
    }
    .main-navigation.toggled ul {
        display: block;
    }
    .main-navigation.toggled .fixed-btns {
        display: flex;
    }
    .main-navigation .fixed-btn {
        display: flex;
        flex-direction: row;
        border-radius: 0;
        box-shadow: none;
        width: auto;
        height: 56px;
        flex-grow: 1;
        gap: 16px;
    }
    .main-navigation .fixed-btn + .fixed-btn {
        border-left: 1px solid var(--color-white);
    }

    /* home */
    .collapse-info {
        position: relative;
        transform: translateY(0);
        opacity: 1;
        padding: 80px 32px;
    }
    /* home service */
    .services-bg-wrap {
        position: relative;
    }
    .services-wrap {
        margin-top: 0;
    }
    .home-doctor {
        max-width: none;
    }
    .the-doctors {
        margin-top: 0px;
    }
    #sec_expect .container {
        min-height: auto;
    }
    #sec_expect .expect-card {
        padding: 48px 48px;
    }
    input.expect-input {
        font-size: var(--font-size-lg);
    }
    .banner-bg {
        position: relative;
    }
    section[id^="sec_banner_"] .container {
        min-height: auto;
        margin-top: 0%;
    }

    /* main */
    .page-top-banner .container {
        padding-bottom: 80px;
    }
    .page-top-banner h1::after {
        width: 160px;
    }

    /* about */
    #sec_env .swiper-button-next,
    #sec_env .swiper-button-prev {
        top: 38%;
        bottom: 0;
    }
    #sec_env .swiper-button-next {
        right: -24px;
    }
    #sec_env .swiper-button-prev {
        left: -24px;
    }
    .wp-block-columns.border-between .wp-block-column + .wp-block-column {
        border-left: none;
        border-top: 1px solid var(--color-gray-3);
        margin-top: 64px;
        padding-top: 64px;
    }
    .page .has-text-align-center {
        text-align: left;
    }
    .site-header.detached.show ~ #page_group .sticky {
        top: 64px;
    }

    /* select */
    .custom-selects.active .custom-selects-wrap {
        max-height: calc(50vh - 75px);
        overflow-y: auto;
    }
    .custom-selects {
        width: 100%;
    }
    .custom-selects button {
        padding: 24px 32px;
        font-size: 18px;
    }

    /* focus */
    .focus-swiper .swiper-button-next, .focus-swiper .swiper-button-prev {
        height: 31px;
        width: 18px;
        padding: 0;
        border: 0;
        font-size: 12px;
    }
    .focus-info {
        padding: 40px 0px;
        margin: 0px 0px 0;
        flex-wrap: wrap;
        gap: 32px;
    }
    
    .search-wrap-toggler {
        padding: 24px 0 40px;
    }
    .search-wrap-toggler.fixed-top-toggler {
        position: sticky;
    }
    input.expect-input {
        width: 40px;
        padding: 0;
        margin-right: 8px;
    }
    input.expect-result {
        width: 42px;
        padding: 0;
        margin-right: 8px;
    }
    #search_wrap .expect-card {
        max-height: 800px;
    }
    .expect-bg {
        max-height: 600px;
        max-width: 600px;
    }
    .search-wrap {
        padding: 32px 32px;
        width: calc(100% + 64px);
        left: -32px;
    }
    .collapse-close-btn {
        position: sticky;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -20px -13px 0 auto;
        top: 60px;
    }
    .list-case {
        width: calc(100% + 64px);
        margin-left: -32px;
        padding: 0;
        display: block;
    }
    .list-case .case-img {
        width: calc(100% - 32px);
        left: 16px;
        top: 0;
    }
    .case-card {
        position: relative;
        width: calc(100%);
        max-width: none;
        margin-bottom: 80px;
        padding: 32px;
    }
    /* post */
    .post-navigation .nav-links {
        padding-top: 60px;
    }
    .single-post .entry-content h2 {
        font-size: var(--font-size-ml);
    }
    .single-post .entry-content h3 {
        font-size: var(--font-size-ml);
    }
    .single-post .entry-content h6 {
        font-size: var(--font-size-xxs);
    }
    .d-md-grid.grid-2-columns.border-between > *:nth-child(2n + 1)::after {
        content: none;
    }
    .post-list article {
        border-bottom: 1px solid var(--color-gray-3);
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
    }
    .pagination .nav-links {
        gap: 12px;
    }
    .pagination .page-numbers {
        padding: 8px 12px;
    }
    .pagination .page-numbers.prev::before,
    .pagination .page-numbers.next::before {
        position: absolute;
        top: 12px;
        left: -30px;
        width: 32px;
    }
    /* modal */
    .modal-close {
        position: sticky;
        right: 24px;
        top: 24px;
        margin: 0 0 0 auto;
    }
    /* info */
    .schedule-reserve-btn {
        aspect-ratio: initial;
        height: 100%;
        padding: 24px;
        font-size: var(--font-size-md);
    }
    .schedule-btn-prev,
    .schedule-btn-next {
        padding: 0;
        width: 44px;
        height: 19px;
    }
    .schedule-btn-prev span,
    .schedule-btn-next span {
        font-size: 12px;
    }
    .schedule-btn-prev {
        border-right: none;
    }
    .schedule-btn-next {
        border-left: none;
    }
    .pko-table-wrap {
        position: relative;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .pko-tbody .pko-th, .pko-tbody .pko-td {
        min-width: 116px;
        height: 140px;
    }
    .pko-table {
        font-size: var(--font-size-sm);
    }
    .pko-thead {
        font-size: var(--font-size-md);
    }
    .pko-tbody .pko-th {
        font-size: var(--font-size-sm);
    }
    .pko-thead {
        height: 80px;
    }
    .pko-thead .pko-th {
        height: 80px;
    }
    .pko-tr {
        position: relative;
    }
    .pko-tbody .pko-td, .pko-thead .pko-th {
        display: none;
    }
    .pko-tbody .pko-td.active {
        display: table-cell;
    }
    .pko-thead .pko-th.pko-th-head {
        display: table-cell;
    }
    .pko-thead .pko-th.active {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        background-color: var(--color-primary);
        z-index: 0;
    }

    /* table */
    .wp-block-table {
        width: 100%;
        overflow: auto;
        margin: 40px 0;
    }
    .wp-block-table td, .wp-block-table th {
        min-width: 200px;
    }
    .wp-block-table tr td:first-child, .wp-block-table tr th:first-child {
        min-width: 100px;
        text-align: center;
    }
    /* 手機版鎖第一個td內容 */
    .wp-block-table tr td:first-child strong, .wp-block-table tr th:first-child strong {
        position: fixed;
        display: inline-block;
        padding: 24px 8px;
        left: 29px;
        top: auto;
        margin-top: -38px;
        background: var(--color-light);
        width: 120px;
        z-index: 1;
    }
    .wp-block-table.table-fixed table {
        table-layout: auto;
    }
    .wp-block-table.table-fixed td, .wp-block-table.table-fixed th {
        min-width: 137px;
        max-width: 160px;
    }
    .wp-block-table.table-fixed td:first-child, .wp-block-table.table-fixed th:first-child {
        min-width: 120px;
        max-width: 120px;
    }
    
}
@media screen and (max-width: 560px) {
    #sec_expect .expect-card {
        padding: 48px 0px;
    }
    #search_wrap .expect-card {
        max-height: none;
    }
}
@media screen and (max-width: 375px) {
    .focus-info > * {
        width: calc(50% - 20px);
    }
    .focus-info > *:nth-child(2n) {
        text-align: right;
    }
}